<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/main :: layout(~{::main})}">

<body>
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                <div class="display-3">
                    <h2 class="display-3">Secrete Resources Page</h2>
                    <p>This page is accessible only be login users with special role.</p>
                    <p>If you see this page, than you have logged correctly to the system.</p>

                    <div>
                        This is a super secrete information that only authorized and authenticated users can see.
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>