<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        th:replace="~{layouts/main :: layout(~{::main})}">

<body>
    <main role="main">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 py-4">
                    <h2>Registration Page</h2>

                    <form action="#" th:action="@{/register}" th:object="${user}" method="post" class="form-sigin">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" class="form-control" placeholder="Enter Name"
                                   name="username"
                                th:field="*{username}" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" required>
                            <div class="invalid-feedback" th:errors="*{username}"></div>
                        </div>

                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" id="password" class="form-control" placeholder="Enter Password"
                                   name="password"
                                   th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" required>
                            <div class="invalid-feedback" th:errors="*{password}"></div>
                        </div>

                        <div class="form-group">
                            <label for="repeatPassword">Repeat Password</label>
                            <input type="password" id="repeatPassword" class="form-control" placeholder="Enter The Same Password"
                                   name="repeatPassword"
                                   th:field="*{repeatedPassword}" th:classappend="${#fields.hasErrors('repeatedPassword')} ? 'is-invalid'" required>
                            <div class="invalid-feedback" th:errors="*{repeatedPassword}"></div>
                        </div>

                        <button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
</html>